* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Exo 2',sans-serif;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 4rem;
  z-index: 1000;
}

#header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

#header nav ul li {
  margin-right: 4rem;
}

#header nav ul li a {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}

#header nav ul li a:hover {
  color: #ffD800;
}

#header .fa-hamburger {
  font-size: 4rem;
  color: #ffD800;
  cursor: pointer;
  z-index: 10000;
  display: none;
}

#header .logo img {
  height: 3.5rem;
}

.header-active {
  background: #333;
  -webkit-box-shadow: 0rem .3rem .5rem #000;
          box-shadow: 0rem .3rem .5rem #000;
}

#home .content h1 {
  font-size: 4rem;
  color: #ffD800;
  font-family: 'lemonda',sans-serif;
  text-shadow: .1rem .1rem .3rem #333;
}

#home .content h2 {
  font-size: 3rem;
  color: #fff;
  font-family: 'lemonda',sans-serif;
  text-shadow: .1rem .1rem .3rem #333;
  margin: 1rem 0;
}

#home .content p {
  font-size: 1.6rem;
  color: #ccc;
}

#home .content button {
  height: 4rem;
  width: 16rem;
  border: none;
  outline: none;
  background: #fff;
  letter-spacing: .2rem;
  font-size: 1.6rem;
  border-radius: 5rem;
  cursor: pointer;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#home .content button::before {
  content: '';
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #ffD800;
  position: absolute;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  z-index: -1;
}

#home .content button:hover:before {
  width: 100%;
}

#home {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  min-height: 100vh;
}

#home .video-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

#home .video-container .vid {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}

#home .video-container .vid1 {
  display: block;
}

#home .controls {
  position: absolute;
  bottom: 14%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 10rem;
  height: 2rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#home .controls .dots {
  background: #ffD800;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

#home .controls .dots:hover {
  background: white;
}

#special {
  background: #000;
  min-height: 100vh;
}

#special .heading {
  padding: 7rem 0rem 2rem 0rem;
}

#special .heading h1 {
  font-size: 3rem;
  font-weight: bolder;
  color: #fff;
}

#special .heading h1 span {
  color: #ffD800;
}

#special .heading p {
  padding: 0rem 0rem 4rem 0rem;
  font-size: 1.5rem;
  color: #fff;
}

#special .card-container {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#special .card-container .card {
  width: 30rem;
  height: 35rem;
  margin: 2rem;
  padding: 1rem;
  text-align: center;
}

#special .card-container .card img {
  width: 100%;
}

#special .card-container .card p {
  font-size: 1.4rem;
  margin: 2rem 0rem 2rem 0rem;
}

#special .card-container .card button {
  height: 3rem;
  width: 14rem;
  border: none;
  outline: none;
  background: #fff;
  letter-spacing: .2rem;
  font-size: 1.6rem;
  border-radius: 5rem;
  cursor: pointer;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #333;
  color: #fff;
}

#special .card-container .card button::before {
  content: '';
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #ffD800;
  position: absolute;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  z-index: -1;
}

#special .card-container .card button:hover:before {
  width: 100%;
}

#special .card-container .card button:hover {
  color: #333;
}

#special .card-container .card:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#about .about-container .heading {
  padding: 7rem 0rem 2rem 0rem;
}

#about .about-container .heading h1 {
  font-size: 3rem;
  font-weight: bolder;
  color: #ffD800;
}

#about .about-container .heading h1 span {
  color: #000;
}

#about .about-container .heading p {
  padding: 0rem 0rem 4rem 0rem;
  font-size: 1.5rem;
  color: #fff;
}

#about .about-container .content {
  margin: 5rem auto;
}

#about .about-container .content p {
  font-size: 1.8rem;
}

#about .about-container .content button {
  height: 4rem;
  width: 13rem;
  border: none;
  outline: none;
  background: #fff;
  letter-spacing: .2rem;
  font-size: 1.6rem;
  border-radius: 5rem;
  cursor: pointer;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #fff;
  background: #333;
}

#about .about-container .content button::before {
  content: '';
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #ffD800;
  position: absolute;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  z-index: -1;
}

#about .about-container .content button:hover:before {
  width: 100%;
}

#about .about-container .content button:hover {
  color: #333;
}

#about .about-container .image img {
  height: 90vh;
}

#dishes {
  width: 100vw;
}

#dishes .dishes-container .heading {
  padding: 7rem 0rem 2rem 0rem;
}

#dishes .dishes-container .heading h1 {
  font-size: 3rem;
  font-weight: bolder;
  color: #000;
}

#dishes .dishes-container .heading h1 span {
  color: #ffD800;
}

#dishes .dishes-container .heading p {
  padding: 0rem 0rem 4rem 0rem;
  font-size: 1.5rem;
  color: #fff;
}

#dishes .dishes-container .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1rem auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

#dishes .dishes-container .box-container .box {
  height: 20rem;
  width: 25rem;
  margin: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3 ease;
  transition: -webkit-transform .3 ease;
  transition: transform .3 ease;
  transition: transform .3 ease, -webkit-transform .3 ease;
  position: relative;
}

#dishes .dishes-container .box-container .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}

#dishes .dishes-container .box-container .box .info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  -webkit-transform: scale(0);
          transform: scale(0);
  border-radius: 0.5rem;
}

#dishes .dishes-container .box-container .box .info h1 {
  font-size: 3rem;
}

#dishes .dishes-container .box-container .box .info p {
  font-size: 1.3rem;
  border-top: 0.3rem solid #ffD800;
  border-bottom: 0.3rem solid #ffD800;
  margin: 1rem 2rem;
}

#dishes .dishes-container .box-container .box .info button {
  height: 3.5rem;
  width: 13rem;
  border: none;
  outline: none;
  background: #fff;
  letter-spacing: .2rem;
  font-size: 1.6rem;
  border-radius: 5rem;
  cursor: pointer;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#dishes .dishes-container .box-container .box .info button::before {
  content: '';
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #ffD800;
  position: absolute;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  z-index: -1;
}

#dishes .dishes-container .box-container .box .info button:hover:before {
  width: 100%;
}

#dishes .dishes-container .box-container .box:hover .info {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#contact {
  width: 100vw;
  height: 100vh;
  background: url(../images/contact-us.jpg) no-repeat;
  background-size: cover;
}

#contact .contact-container .heading {
  padding: 7rem 0rem 2rem 0rem;
}

#contact .contact-container .heading h1 {
  font-size: 3rem;
  font-weight: bolder;
  color: #ffD800;
}

#contact .contact-container .heading h1 span {
  color: #000;
}

#contact .contact-container .heading p {
  padding: 0rem 0rem 4rem 0rem;
  font-size: 1.5rem;
  color: #fff;
}

#contact .contact-container .contact-input-form form {
  background: #fff;
  padding-top: 2rem;
  margin: 1rem 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 2rem #333;
          box-shadow: 0 0 2rem #333;
}

#contact .contact-container .contact-input-form form .inputfiled {
  position: relative;
  padding: 0;
  text-align: center;
}

#contact .contact-container .contact-input-form form .inputfiled input, #contact .contact-container .contact-input-form form .inputfiled textarea {
  outline: none;
  width: 90%;
  font-size: 2rem;
  margin: 2rem 0rem;
  padding: 0rem 1rem;
  border: .2rem solid #333;
  height: 4rem;
  background: none;
  border-radius: .2rem;
}

#contact .contact-container .contact-input-form form .inputfiled input:focus ~ h3, #contact .contact-container .contact-input-form form .inputfiled input:valid ~ h3, #contact .contact-container .contact-input-form form .inputfiled textarea:focus ~ h3, #contact .contact-container .contact-input-form form .inputfiled textarea:valid ~ h3 {
  font-size: 1.6rem;
  color: #333;
  left: 5%;
  top: 0rem;
}

#contact .contact-container .contact-input-form form .inputfiled textarea {
  height: 20rem;
  resize: none;
}

#contact .contact-container .contact-input-form form .inputfiled h3 {
  position: absolute;
  font-size: 2rem;
  top: 2.7rem;
  left: 6.5%;
}

#contact .contact-container .contact-input-form form input[type="submit"] {
  height: 4rem;
  width: 13rem;
  border: none;
  outline: none;
  background: #fff;
  letter-spacing: .2rem;
  font-size: 1.6rem;
  border-radius: 5rem;
  cursor: pointer;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-left: 4%;
  margin-bottom: 2rem;
  background: #333;
  color: #fff;
}

#contact .contact-container .contact-input-form form input[type="submit"]::before {
  content: '';
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #ffD800;
  position: absolute;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  z-index: -1;
}

#contact .contact-container .contact-input-form form input[type="submit"]:hover:before {
  width: 100%;
}

#contact .contact-container .contact-input-form form input[type="submit"]:hover {
  background: #ffD800;
  color: #333;
}

#footer {
  background: #333;
  padding-top: 2rem;
}

#footer .brand {
  margin: 1rem 0rem;
}

#footer .brand a img {
  height: 4rem;
  margin: 1rem 0rem;
}

#footer .brand .social-icons a span {
  color: #fff;
  font-size: 1.5rem;
  margin: 2rem 1rem;
}

#footer .brand .social-icons a:hover span {
  color: #ffD800;
}

#footer .links h1 {
  font-size: 2rem;
  color: #ffD800;
}

#footer .links a {
  display: inline;
  text-decoration: none;
}

#footer .links a h3 {
  font-size: 1.8rem;
  color: #fff;
}

#footer .links a:hover h3 {
  color: #ffD800;
}

#footer .newslet h3 {
  color: #fff;
  font-size: 1.8rem;
  margin: 2rem 0rem;
}

#footer .newslet #newsletter {
  background: none;
  font-size: 1.4rem;
  color: #FFF;
  outline: none;
  width: 20rem;
  border: 1px solid #fff;
  margin: 1rem 0rem;
}

#footer .newslet input[type="submit"] {
  height: 3rem;
  width: 12rem;
  border: none;
  outline: none;
  background: #fff;
  letter-spacing: .2rem;
  font-size: 1.6rem;
  border-radius: 5rem;
  cursor: pointer;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #999980;
  color: #fff;
}

#footer .newslet input[type="submit"]::before {
  content: '';
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #ffD800;
  position: absolute;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  z-index: -1;
}

#footer .newslet input[type="submit"]:hover:before {
  width: 100%;
}

#footer .newslet input[type="submit"]:hover {
  background: #ffD800;
  color: #333;
}

#footer .rights {
  margin-top: 2rem;
}

#footer .rights span {
  font-size: 1.5rem;
  color: #fff;
}

#footer .rights span span {
  color: #ffD800;
}

@media (max-width: 750px) {
  html {
    font-size: 50%;
  }
  #header .fa-hamburger {
    display: block;
  }
  #header .fa-times {
    -webkit-transform: skew(-180deg);
            transform: skew(-180deg);
  }
  #header nav {
    position: fixed;
    top: 0;
    left: -120%;
    height: 100vh;
    width: 34rem;
    background: #000;
  }
  #header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  #header nav ul li {
    margin: 2rem 0;
  }
  #header nav ul li a {
    font-size: 3.5rem;
    border-radius: 5rem;
  }
  #header nav ul li a:hover {
    padding: .7rem 7.5rem;
    background: #ffD800;
    color: #000;
  }
  #header .nav-toggle {
    left: 0px;
  }
}
/*# sourceMappingURL=style.css.map */