$yellow:#ffD800;

@mixin button($height,$width) {
    height:$height;
    width:$width;
    border:none;
    outline:none;
    background: #fff;
    letter-spacing: .2rem;
    font-size:1.6rem;
    border-radius: 5rem;
    cursor: pointer;
    text-transform: capitalize;
    position: relative;
    z-index:1;
    overflow: hidden;
    &::before{
        content: '';
        left:0;
        top:0;
        width:0%;
        height: 100%;
        background: $yellow;
        position:absolute;
        transition: all .2s ease;
        z-index: -1;
    }
    &:hover:before{width:100%}
}


@mixin headings($h1-color,$span-color) {
    padding:7rem 0rem 2rem 0rem;    
    h1{ 
        font-size:3rem;
        font-weight: bolder;
        color:$h1-color;
          span{
            color:$span-color;
            }
    }
    p{
        padding:0rem 0rem 4rem 0rem;
        font-size:1.5rem;
        color:#fff;
    }

    
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Exo 2',sans-serif;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

#header{
    width:100%;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    padding:1rem 4rem;
    z-index:1000;
   
    nav{
        ul{
            display:flex;
            align-items: center;
            justify-content: space-around;
            list-style: none;
            li{
                margin-right: 4rem;
                a{
                    color:#fff;
                    font-size: 2rem;
                    text-decoration: none;
                    &:hover{
                        color:$yellow;
                    }
                }
            }
        }
    }

    .fa-hamburger{
        font-size: 4rem;
        color: $yellow;
        cursor: pointer;
        z-index: 10000;
        display: none;

    }
    .logo{
        img{
            height:3.5rem;
        }


    }
}

.header-active{
    background: #333;
    box-shadow: 0rem .3rem .5rem #000;

}


//home section starts


#home{
    .content{
        h1{
            font-size:4rem;
            color:$yellow;
            font-family: 'lemonda',sans-serif;
            text-shadow: .1rem .1rem .3rem #333;
        }
        h2{
            font-size:3rem;
            color:#fff;
            font-family: 'lemonda',sans-serif;
            text-shadow: .1rem .1rem .3rem #333;
            margin:1rem 0;
        }
        p{
            font-size:1.6rem;
            color:#ccc;
        }
        button{
            @include button(4rem,16rem);
        }
    }
}

#home{
    background: linear-gradient(90deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    min-height: 100vh;
    .video-container{
        position: absolute;
        top:0;left:0;
        height:100vh;
        width:100%;
        z-index:-1;
        .vid{
            position: absolute;
            top:0;left:0;
            height:100vh;
            width:100%;
            object-fit: cover;
            display: none;
        }
        .vid1{
            display:block;
        }
    }
    .controls{
        position:absolute;
        bottom:14%;
        left:50%;
        display: flex;
        justify-content: space-between;
        width:10rem;
        height: 2rem;
        transform: translateX(-50%);
        
        .dots{
         background: $yellow;
         width: 2rem;
         height: 2rem;
         cursor: pointer;
         &:hover{
             background: white;
         }
        }
       
    }
}

//home section ends

//special section starts
#special{
        background: #000;
        min-height: 100vh;
        .heading{
        @include headings(#fff,$yellow);
        }
        .card-container{
            width: 95%;
            display: flex;
            margin:0rem auto;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            .card{
                width: 30rem;
                height:35rem;
                margin:2rem;
                padding:1rem;
                text-align: center;
                img{
                    width:100%;
                    
                }
                p{
                    font-size:1.4rem;
                    margin:2rem 0rem 2rem 0rem;
                }
                button{
                    @include button(3rem, 14rem);
                    background:#333;
                    color:#fff;
                    &:hover{
                        color:#333;
                    }
                }
                &:hover{
                    transform: scale(.9);
                }
            }
        }
}


//special section ends


//about us section start
#about{
    .about-container{
        .heading{
            @include headings($yellow,#000);
        }
        .content{
            margin:5rem auto;
            p{
               font-size: 1.8rem; 
            }
            button{
                @include button(4rem, 13rem);
                color:#fff;
                background: #333;
                &:hover{
                    color:#333;
                }
            }
        }
        .image{
            img{
              height: 90vh;
            }
            
        }
    }
}
//about us section end

//dishes section start
#dishes{
    width: 100vw;
.dishes-container{
    .heading{
        @include headings(#000, $yellow);
    }
    .box-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin:1rem auto;
        align-items: center;
        width: 90%;
        .box{
            height:20rem;
            width: 25rem;
            margin: 2rem;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: transform .3 ease;
            position: relative;
            img{
                width:100%;
                height:100%;
                object-fit: cover;
                border-radius: 0.5rem;
            }
            .info{
                position: absolute;
                top:0;
                left:0;
                height:100%;
                width: 100%;
                background: rgba(0,0,0,0.6);
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                text-align:center ;
                color:#fff;
                transform: scale(0);
                border-radius: 0.5rem;
                h1{
                    font-size: 3rem;
                }
                p{
                    font-size: 1.3rem;
                    border-top:0.3rem solid $yellow;
                    border-bottom:0.3rem solid $yellow;
                    margin:1rem 2rem;
                    
                }
                button{
                    @include button(3.5rem, 13rem)
                }

            }
            &:hover{
                .info{
                transform: scale(1);
                }
            }
        }
      
    }
}
}
//dishes section end


//contact status start

#contact{
    width: 100vw;
    height: 100vh;
    background: url(../images/contact-us.jpg) no-repeat;
    background-size: cover;
    .contact-container{
        .heading{
            @include headings($yellow, #000);
        }
        .contact-input-form{
            form{
                background: #fff;
                padding-top:2rem;
                margin: 1rem 2rem;
                border-radius: 1rem;
                box-shadow: 0 0 2rem #333;
                .inputfiled{
                    position:relative;
                    padding:0;
                    text-align: center;
                    input,textarea{
                        outline:none;
                        width: 90%; 
                        font-size: 2rem;
                        margin:2rem 0rem;
                        padding:0rem 1rem;
                        border:.2rem solid #333;
                        height:4rem;
                        background: none;
                        border-radius:.2rem ;
                        &:focus ~ h3, &:valid ~ h3{
                            font-size:1.6rem;
                            color:#333;
                            left:5%;
                            top:0rem;
                          }
                        }
                        textarea{
                            height:20rem;
                            resize:none;
                        }
                        h3{
                            position:absolute;
                            font-size:2rem;
                            top:2.7rem;
                            left:6.5%;
                        }
                    
                }
                input[type="submit"]{
                    @include button(4rem,13rem);
                    margin-left: 4%;
                    margin-bottom:2rem;
                    background:#333;
                    color:#fff;
                    &:hover{
                        background: $yellow;
                        color:#333;
                    }
                }
            }
            
        }
    }

}

//contact status end

//footer start
#footer{
    background: #333;
    padding-top:2rem;
    .brand{
        margin:1rem 0rem;
        a{
            img{
                height:4rem;
                margin:1rem 0rem;
                }

        }
        .social-icons{
            a{
                span{
                    color:#fff;
                    font-size:1.5rem;
                    margin:2rem 1rem;

                }
                &:hover span{
                    color:$yellow;
                }
            }
        }
        
    }
    .links{
        h1{
            font-size:2rem;
            color:$yellow;
        }
        a{
            display: inline;
            text-decoration:none;
            h3{
              
                font-size: 1.8rem;
                color:#fff;
            }
            &:hover h3{
                color:$yellow;
            }
        }
       
    }
    .newslet{
        
         
            h3{
                color:#fff;
                font-size:1.8rem;
                margin:2rem 0rem;
             }
             #newsletter{
                 background: none;
                 font-size:1.4rem;
                 color:#FFF;
                 outline:none;
                 width:20rem;
                 border:1px solid #fff; 
                 margin:1rem 0rem; 
             }
             input[type="submit"]{
                 @include button(3rem,12rem);
                background: rgb(153, 153, 128);
                color:#fff;
                &:hover{
                    background: $yellow;
                    color:#333;
                }
             }

    }
    .rights{
        margin-top:2rem;
        span{
            font-size: 1.5rem;
            color: #fff;
            span{
                color:$yellow;
            }
        }
      
    }
}
//footer ends

// media quires start

@media (max-width:750px){
    html{
        font-size:50%;
    }
    #header{
        .fa-hamburger{
            display: block;

        }
        .fa-times{
            transform: skew(-180deg) ;
        }
        nav{
            position: fixed;
            top:0;
            left:-120%;
            height: 100vh;
            width:34rem;
            background: #000;
            ul{
                flex-direction: column;
                justify-content: center;
                height: 100%;
                li{
                    margin:2rem 0;
                    a{
                        
                        font-size:3.5rem;
                        border-radius: 5rem;
                        
                        &:hover{
                            padding:.7rem 7.5rem;
                            background: $yellow;
                            color:#000;
                        }
                    }
                }
            }
        }
        .nav-toggle{
            left:0px;
        }
    }
}
// media quires ends